//-
    req params
    -foundUser
extends ../partials/html-head.pug
include ../studioVideoMixin.pug
block page-css
    link(rel="stylesheet" href="/assets/css/bundled.myStudio.css" type="text/css")
block page-js
    script(src="/assets/js/bundled.myStudio.js" type="text/javascript" defer) 
block wtd-app
    wtcp-app
        wtcp-dialog-manager.wtcp-app
        wtcp-nitrate.wtcp-app
        wtcp-toast-manager(alignment="center").wtcp-app
        wtsp-sponsors-only-video-post-manager.wtcp-app
        wtcp-permanet-operational-error-manager.wtcp-app
        wtcp-a11y-announcer.wtcp-app
        wtcp-entity-page(modern first-load)#entity-page.loaded.wtcp-app
            div#main-container.wtcp-entity-page
                tp-wt-iron-overlay-backdrop(tabindex="-1")#nav-backdrop.wtcp-entity-page
                wtcp-top-banner(color-theme)#top-banner.wtcp-entity-page
                wtcp-header.wtcp-entity-page
                    header(is-search-visible).wtcp-header
                        wtcp-icon-button(
                            icon="menu" track-click tabindex="0" modern
                            aria-disabled="false" aria-label="메뉴 접기" role="button"
                        )#collapse-expand-icon.rtl-flip.wtcp-header
                            tp-wt-iron-icon.remove-defaults.wtcp-icon-button
                                svg(
                                    viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                    focusable="false" aria-hidden="true"
                                    style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                ).tp-wt-iron-icon
                                    g.tp-wt-iron-icon
                                        path(d="M21,6H3V5h18V6z M21,11H3v1h18V11z M21,17H3v1h18V17z").tp-wt-iron-icon
                        wtcp-home-button(track-click).wtcp-header
                            a(
                                target="_self" href=`/channel/${foundUser.user_channel.channel_id}`
                            )#home-button.wtcp-home-button
                                img(
                                    height="24" alt="WeTube 스튜디오 대시보드"
                                    src="https://www.gstatic.com/youtube/img/creator/yt_studio_logo_v2_darkmode.svg"
                                ).wtcp-home-button
                        wtcp-button.wtcp-header
                        wtcp-omnisearch(modern)#omnisearch.wtcp-header
                            tp-wt-iron-overlay-backdrop#backdrop.wtcp-omnisearch
                            div(tabindex="-1")#search-layer.wtcp-omnisearch
                                tp-wt-iron-icon.search-icon.wtcp-omnisearch
                                    svg(
                                        viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                        focusable="false" aria-hidden="true"
                                        style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                    ).tp-wt-iron-icon
                                        g.tp-wt-iron-icon
                                            path(
                                                d="M20.87,20.17l-5.59-5.59C16.35,13.35,17,11.75,17,10c0-3.87-3.13-7-7-7s-7,3.13-7,7s3.13,7,7,7c1.75,0,3.35-0.65,4.58-1.71 l5.59,5.59L20.87,20.17z M10,16c-3.31,0-6-2.69-6-6s2.69-6,6-6s6,2.69,6,6S13.31,16,10,16z"
                                            ).tp-wt-iron-icon
                                wtcp-ve(track-click role="none").wtcp-omnisearch
                                    form(name="searchForm").wtcp-omnisearch
                                        input(
                                            autocomplete="off"
                                            aria-controls="results"
                                            placeholder="채널에서 검색하기"
                                            aria-activedescendant="video-result--1"
                                            aria-expanded="true"
                                        )#query-input.wtcp-omnisearch
                        div.right-section.wtcp-header
                            div#right-section-content.right-section-content.wtcp-header
                                div.icons-section.wtcp-header
                                    wtcp-help#help-widget.wtcp-header
                                        wtcp-icon-button(
                                            icon="help-outline" test-id="header-help-icon"
                                            tooltip-lebel="도움말" track-click="true"
                                            tabindex="0" modern aria-disabled="false"
                                            aria-label="도움말" role="button"
                                        )#help-icon.wtcp-header
                                            tp-wt-iron-icon.remove-defaults.wtcp-icon-button
                                                svg(
                                                    viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                    focusable="false" aria-hidden="true"
                                                    style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                ).tp-wt-iron-icon
                                                    g.tp-wt-iron-icon
                                                        path(d="M15.36,9.96c0,1.09-0.67,1.67-1.31,2.24c-0.53,0.47-1.03,0.9-1.16,1.6L12.85,14h-1.75l0.03-0.28 c0.14-1.17,0.8-1.76,1.47-2.27c0.52-0.4,1.01-0.77,1.01-1.49c0-0.51-0.23-0.97-0.63-1.29c-0.4-0.31-0.92-0.42-1.42-0.29 c-0.59,0.15-1.05,0.67-1.19,1.34L10.32,10H8.57l0.06-0.42c0.2-1.4,1.15-2.53,2.42-2.87c1.05-0.29,2.14-0.08,2.98,0.57 C14.88,7.92,15.36,8.9,15.36,9.96z M12,18c0.55,0,1-0.45,1-1s-0.45-1-1-1s-1,0.45-1,1S11.45,18,12,18z M12,3c-4.96,0-9,4.04-9,9 s4.04,9,9,9s9-4.04,9-9S16.96,3,12,3 M12,2c5.52,0,10,4.48,10,10s-4.48,10-10,10S2,17.52,2,12S6.48,2,12,2L12,2z")
                                wtcp-button(
                                    label="만들기" tooltip-label="동영상 또는 게시물 만들기"
                                    track-click type="outline" tabindex="-1"
                                    button-style="default" icon-alignment="start"
                                    modern icon="wt-sys-icons:video_call" aria-disabled="false"
                                    role="button"
                                )#create-icon.wtcp-header
                                    wtcp-button-shape.wtcp-button
                                        button(
                                            aria-label="만들기"
                                        ).wtcp-button-shape-impl.wtcp-button-shape-impl--outline.wtcp-button-shape-impl--mono.wtcp-button-shape-impl--size-m.wtcp-button-shape-impl--icon-leading
                                            div(aria-hidden="true").wtcp-button-shape-impl__icon
                                                wt-icon(style="width: 24px; height: 24px;")
                                                    svg(
                                                        viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                        focusable="false" aria-hidden="true"
                                                        style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                    ).wt-icon
                                                        g.wt-icon
                                                            path(
                                                                d="M14,13h-3v3H9v-3H6v-2h3V8h2v3h3V13z M17,6H3v12h14v-6.39l4,1.83V8.56l-4,1.83V6 M18,5v3.83L22,7v8l-4-1.83V19H2V5H18L18,5 z"
                                                            ).wt-icon
                                            div.wtcp-button-shape-impl__button-text-content
                                                |만들기
                                wtd-topbar-menu-button-renderer#account-button.avatar.wtcp-header
                                    button(
                                        aria-haspopup="true" aria-label="Account"
                                    )#avatar-btn.wtd-topbar-menu-button-renderer
                                        wt-img-shadow(
                                            height="24" width="24"
                                            style="background-color: transparent;"
                                            loaded
                                        ).wtd-topbar-menu-button-renderer.no-transition
                                            img(
                                                draggable="false" alt height="32" width="32"
                                                src=`/${foundUser.avatar}`
                                            )#img.wt-img-shadow
                wtcp-banner.entity-banner.wtcp-entity-page.closing
                div.nav-and-main-content.wtcp-entity-page
                    wtcp-navigation-drawer(
                        modern layout="channel"
                    ).wtcp-entity-page
                        nav(
                            tabindex="-1" aria-expanded="true"
                        )#left-nav.wtcp-navigation-drawer
                            div.thumbnail-wrapper.thumbnail-wrapper-channel.wtcp-navigation-drawer
                                wtcp-animatable.sync-on-transition.wtcp-navigation-drawer
                                    wtcp-overlay-with-link(
                                        overlay-icon="icons:open-in-new" track-click
                                    ).image-thumbnail.thumbnail-overlay.wtcp-navigation-drawer
                                        div(tabindex="0").overlay-container.wtcp-overlay-with-link
                                            div(rounded-corners hidden).grey-overlay.wtcp-overlay-with-link
                                            div(hidden).overlay-with-link.wtcp-overlay-with-link
                                                a(
                                                    target="_blank" tabindex="-1" role="tooltip"
                                                    src=`/channel/${foundUser.user_channel.channel_id}`
                                                )#overlay-link-to-wetube.overlay-link.wtcp-overlay-with-link
                                                    wtcp-icon-button(
                                                        no-tooltip overlay tabindex="0" modern
                                                        aria-disabled="false" role="button"
                                                    )#overlay-icon.wtcp-overlay-with-link
                                                        tp-wt-iron-icon.remove-defaults.wtcp-icon-button
                                                            svg(
                                                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                focusable="false" aria-hidden="true"
                                                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                            ).tp-wt-iron-icon
                                                                g.tp-wt-iron-icon
                                                                    path(
                                                                        d="M21,21H3V3h9v1H4v16h16v-8h1V21z M15,3v1h4.32l-8.03,8.03L12,12.74l8-8V9h1V3H15z"
                                                                    ).tp-wt-iron-icon
                                    img(
                                        alt=foundUser.user_channel.channel_name
                                        src=`/${foundUser.avatar}`
                                    ).thumbnail.image-thumbnail.wtcp-navigation-drawer
                                    div#entity-label-container.wtcp-navigation-drawer
                                        div#entity-type.entity-type.wtcp-navigation-drawer
                                            |  내 채널 
                                        div#entity-name.entity-name.wtcp-navigation-drawer
                                            |  #{foundUser.user_channel.channel_name} 
                            wtcp-animatable.top-section.sync-on-transition.wtcp-navigation-drawer
                                ul#main-menu.wtcp-navigation-drawer
                                    li(role="presentation").wtcp-navigation-drawer
                                        wtcp-ve(track-click role="none").wtcp-navigation-drawer
                                            a(
                                                href=`studio/channel/${foundUser.user_channel.channel_id}`
                                            )#menu-item-0.menu-item-link.wtcp-navigation-drawer
                                                tp-wt-paper-icon-item(
                                                    role="button" tabindex="-1" style-target="host" aria-disabled="false"
                                                )#menu-paper-icon-item-0.wtcp-navigation-drawer
                                                    div#contentIcon.content-icon.tp-wt-paper-icon-item
                                                        tp-wt-iron-icon(slot="item-icon" item-icon).wtcp-navigation-drawer
                                                            svg(
                                                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                focusable="false" aria-hidden="true"
                                                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                            ).tp-wt-iron-icon
                                                                g(width="24" height="24" viewBox="0 0 24 24").tp-wt-iron-icon
                                                                    path(
                                                                        d="M10 16V20H4V16H10ZM11 15H3V21H11V15ZM20 4V8H14V4H20ZM21 3H13V9H21V3ZM3 3V13H11V3H3ZM10 12H4V4H10V12ZM13 11V21H21V11H13ZM20 20H14V12H20V20Z"
                                                                    ).tp-wt-iron-icon
                                                    div.nav-item-text.wtcp-navigation-drawer
                                                        |대시보드
                                    li(role="presentation").wtcp-navigation-drawer
                                        wtcp-ve(track-click role="none").wtcp-navigation-drawer
                                            a(
                                                href=`/studio/channel/${foundUser.user_channel.channel_id}/edit`
                                            )#menu-item-1.menu-item-link.wtcp-navigation-drawer
                                                tp-wt-paper-icon-item(
                                                    role="button" tabindex="-1" style-target="host" aria-disabled="false"
                                                )#menu-paper-icon-item-1.iron-selected.wtcp-navigation-drawer
                                                    div#contentIcon.content-icon.tp-wt-paper-icon-item
                                                        tp-wt-iron-icon(slot="item-icon" item-icon).wtcp-navigation-drawer
                                                            svg(
                                                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                focusable="false" aria-hidden="true"
                                                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                            ).tp-wt-iron-icon
                                                                g(width="24" height="24" viewBox="0 0 24 24").tp-wt-iron-icon
                                                                    path(
                                                                        d="M4 5.99982H3V20.9998H18V19.9998H4V5.99982Z"
                                                                    ).tp-wt-iron-icon
                                                                    path(
                                                                        d="M6 2.99982V17.9998H21V2.99982H6ZM11 13.9998V6.99982L17 10.4998L11 13.9998Z"
                                                                    ).tp-wt-iron-icon
                                                    div.nav-item-text.wtcp-navigation-drawer
                                                        |콘텐츠
                                    li(role="presentation").wtcp-navigation-drawer
                                        wtcp-ve(track-click role="none").wtcp-navigation-drawer
                                            a(
                                                href=`studio/channel/${foundUser.user_channel.channel_id}/analytics/tab-overview/period-default`
                                            )#menu-item-2.menu-item-link.wtcp-navigation-drawer
                                                tp-wt-paper-icon-item(
                                                    role="button" tabindex="-1" style-target="host" aria-disabled="false"
                                                )#menu-paper-icon-item-2.wtcp-navigation-drawer
                                                    div#contentIcon.content-icon.tp-wt-paper-icon-item
                                                        tp-wt-iron-icon(slot="item-icon" item-icon).wtcp-navigation-drawer
                                                            svg(
                                                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                focusable="false" aria-hidden="true"
                                                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                            ).tp-wt-iron-icon
                                                                g(width="24" height="24" viewBox="0 0 24 24").tp-wt-iron-icon
                                                                    path(
                                                                        d="M9 17H7V10H9V17ZM13 7H11V17H13V7ZM17 14H15V17H17V14ZM20 4H4V20H20V4ZM21 3V21H3V3H21Z"
                                                                    ).tp-wt-iron-icon
                                                    div.nav-item-text.wtcp-navigation-drawer
                                                        |분석
                                    li(role="presentation").wtcp-navigation-drawer
                                        wtcp-ve(track-click role="none").wtcp-navigation-drawer
                                            a(
                                                href=`/studio/channel/${foundUser.user_channel.channel_id}/comments/inbox`
                                            )#menu-item-3.menu-item-link.wtcp-navigation-drawer
                                                tp-wt-paper-icon-item(
                                                    role="button" tabindex="-1" style-target="host" aria-disabled="false"
                                                )#menu-paper-icon-item-3.wtcp-navigation-drawer
                                                    div#contentIcon.content-icon.tp-wt-paper-icon-item
                                                        tp-wt-iron-icon(slot="item-icon" item-icon).wtcp-navigation-drawer
                                                            svg(
                                                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                focusable="false" aria-hidden="true"
                                                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                            ).tp-wt-iron-icon
                                                                g(width="24" height="24" viewBox="0 0 24 24").tp-wt-iron-icon
                                                                    path(
                                                                        fill-rule="evenodd"
                                                                        clip-rule="evenodd"
                                                                        d="M15 9C15 10.6569 13.6569 12 12 12C10.3431 12 9 10.6569 9 9C9 7.34315 10.3431 6 12 6C13.6569 6 15 7.34315 15 9ZM14 9C14 10.1046 13.1046 11 12 11C10.8954 11 10 10.1046 10 9C10 7.89543 10.8954 7 12 7C13.1046 7 14 7.89543 14 9Z"
                                                                    ).tp-wt-iron-icon
                                                                    path(
                                                                        fill-rule="evenodd"
                                                                        clip-rule="evenodd"
                                                                        d="M18 13C19.1046 13 20 12.1046 20 11C20 9.89543 19.1046 9 18 9C16.8954 9 16 9.89543 16 11C16 12.1046 16.8954 13 18 13Z"
                                                                    ).tp-wt-iron-icon
                                                                    path(
                                                                        fill-rule="evenodd"
                                                                        clip-rule="evenodd"
                                                                        d="M16.899 17C16.8353 16.6881 16.7418 16.3821 16.6194 16.0866C16.3681 15.48 15.9998 14.9288 15.5355 14.4645C15.0712 14.0002 14.52 13.6319 13.9134 13.3806C13.3068 13.1293 12.6566 13 12 13C11.3434 13 10.6932 13.1293 10.0866 13.3806C9.47995 13.6319 8.92876 14.0002 8.46447 14.4645C8.00017 14.9288 7.63188 15.48 7.3806 16.0866C7.25818 16.3821 7.1647 16.6881 7.10102 17C7.03401 17.3283 7 17.6633 7 18H17C17 17.6633 16.966 17.3283 16.899 17ZM15.873 17C15.8264 16.8196 15.7671 16.6422 15.6955 16.4693C15.4945 15.984 15.1999 15.543 14.8284 15.1716C14.457 14.8001 14.016 14.5055 13.5307 14.3045C13.0454 14.1035 12.5253 14 12 14C11.4747 14 10.9546 14.1035 10.4693 14.3045C9.98396 14.5055 9.54301 14.8001 9.17157 15.1716C8.80014 15.543 8.5055 15.984 8.30448 16.4693C8.23285 16.6422 8.17361 16.8196 8.12702 17H15.873Z"
                                                                    ).tp-wt-iron-icon
                                                                    path(
                                                                        fill-rule="evenodd"
                                                                        clip-rule="evenodd"
                                                                        d="M6.25 14.0078C6.16701 14.0026 6.08364 14 6 14C4.93913 14 3.92172 14.4214 3.17157 15.1716C2.42143 15.9217 2 16.9391 2 18H5C5 17.0807 5.18106 16.1705 5.53284 15.3212C5.72474 14.8579 5.96539 14.4178 6.25 14.0078Z"
                                                                    ).tp-wt-iron-icon
                                                                    path(
                                                                        fill-rule="evenodd"
                                                                        clip-rule="evenodd"
                                                                        d="M19 18H22C22 16.9391 21.5786 15.9217 20.8284 15.1716C20.0783 14.4214 19.0609 14 18 14C17.9164 14 17.833 14.0026 17.75 14.0078C18.0346 14.4178 18.2753 14.8579 18.4672 15.3212C18.8189 16.1705 19 17.0807 19 18Z"
                                                                    ).tp-wt-iron-icon
                                                                    path(
                                                                        fill-rule="evenodd"
                                                                        clip-rule="evenodd"
                                                                        d="M8 11C8 12.1046 7.10457 13 6 13C4.89543 13 4 12.1046 4 11C4 9.89543 4.89543 9 6 9C7.10457 9 8 9.89543 8 11Z"
                                                                    ).tp-wt-iron-icon
                                                    div.nav-item-text.wtcp-navigation-drawer
                                                        |커뮤니티
                                    li(role="presentation").wtcp-navigation-drawer
                                        wtcp-ve(track-click role="none").wtcp-navigation-drawer
                                            a(
                                                href=`/studio/channel/${foundUser.user_channel.channel_id}/translations`
                                            )#menu-item-4.menu-item-link.wtcp-navigation-drawer
                                                tp-wt-paper-icon-item(
                                                    role="button" tabindex="-1" style-target="host" aria-disabled="false"
                                                )#menu-paper-icon-item-4.wtcp-navigation-drawer
                                                    div#contentIcon.content-icon.tp-wt-paper-icon-item
                                                        tp-wt-iron-icon(slot="item-icon" item-icon).wtcp-navigation-drawer
                                                            svg(
                                                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                focusable="false" aria-hidden="true"
                                                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                            ).tp-wt-iron-icon
                                                                g(width="24" height="24" viewBox="0 0 24 24").tp-wt-iron-icon
                                                                    path(
                                                                        d="M8 7H16V9H8V7ZM8 13H13V11H8V13ZM5 3V16H15H15.41L15.7 16.29L19 19.59V3H5ZM4 2H20V22L15 17H4V2Z"
                                                                    ).tp-wt-iron-icon
                                                    div.nav-item-text.wtcp-navigation-drawer
                                                        |자막
                                    li(role="presentation").wtcp-navigation-drawer
                                        wtcp-ve(track-click role="none").wtcp-navigation-drawer
                                            a(
                                                href=`/studio/channel/${foundUser.user_channel.channel_id}/copyright`
                                            )#menu-item-5.menu-item-link.wtcp-navigation-drawer
                                                tp-wt-paper-icon-item(
                                                    role="button" tabindex="-1" style-target="host" aria-disabled="false"
                                                )#menu-paper-icon-item-5.wtcp-navigation-drawer
                                                    div#contentIcon.content-icon.tp-wt-paper-icon-item
                                                        tp-wt-iron-icon(slot="item-icon" item-icon).wtcp-navigation-drawer
                                                            svg(
                                                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                focusable="false" aria-hidden="true"
                                                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                            ).tp-wt-iron-icon
                                                                g(width="24" height="24" viewBox="0 0 24 24").tp-wt-iron-icon
                                                                    path(
                                                                        d="M10.57 10.96C10.62 10.66 10.72 10.4 10.84 10.17C10.96 9.94 11.15 9.75 11.38 9.61C11.6 9.47 11.87 9.41 12.21 9.4C12.42 9.41 12.61 9.45 12.78 9.52C12.96 9.6 13.13 9.71 13.25 9.85C13.38 9.99 13.48 10.15 13.56 10.33C13.64 10.51 13.68 10.71 13.69 10.91L15.32 10.91C15.3 10.48 15.22 10.09 15.06 9.73C14.91 9.37 14.7 9.06 14.42 8.81C14.14 8.56 13.82 8.35 13.44 8.21C13.07 8.06 12.65 8 12.18 8C11.59 8 11.07 8.1 10.63 8.31C10.19 8.52 9.83 8.79 9.54 9.15C9.25 9.5 9.03 9.91 8.89 10.39C8.75 10.87 8.67 11.36 8.67 11.88L8.67 12.13C8.67 12.66 8.74 13.15 8.88 13.62C9.02 14.09 9.24 14.5 9.53 14.85C9.82 15.2 10.19 15.48 10.62 15.68C11.06 15.88 11.58 15.99 12.17 15.99C12.6 15.99 13 15.92 13.37 15.78C13.74 15.64 14.07 15.45 14.35 15.21C14.63 14.96 14.86 14.68 15.02 14.35C15.18 14.02 15.28 13.68 15.29 13.3L13.66 13.3C13.65 13.49 13.61 13.66 13.52 13.83C13.43 14 13.33 14.13 13.19 14.25C13.05 14.37 12.9 14.46 12.72 14.52C12.55 14.58 12.36 14.6 12.17 14.61C11.84 14.6 11.57 14.54 11.36 14.4C11.13 14.25 10.95 14.06 10.82 13.84C10.69 13.61 10.59 13.34 10.55 13.04C10.51 12.74 10.48 12.43 10.48 12.13L10.48 11.88C10.5 11.56 10.52 11.26 10.57 10.96ZM12 3C16.96 3 21 7.04 21 12C21 16.96 16.96 21 12 21C7.04 21 3 16.96 3 12C3 7.04 7.04 3 12 3ZM12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2Z"
                                                                    ).tp-wt-iron-icon
                                                    div.nav-item-text.wtcp-navigation-drawer
                                                        |저작권
                                    li(role="presentation").wtcp-navigation-drawer
                                        wtcp-ve(track-click role="none").wtcp-navigation-drawer
                                            a(
                                                href=`/studio/channel/${foundUser.user_channel.channel_id}/monetization/overview`
                                            )#menu-item-6.menu-item-link.wtcp-navigation-drawer
                                                tp-wt-paper-icon-item(
                                                    role="button" tabindex="-1" style-target="host" aria-disabled="false"
                                                )#menu-paper-icon-item-6.wtcp-navigation-drawer
                                                    div#contentIcon.content-icon.tp-wt-paper-icon-item
                                                        tp-wt-iron-icon(slot="item-icon" item-icon).wtcp-navigation-drawer
                                                            svg(
                                                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                focusable="false" aria-hidden="true"
                                                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                            ).tp-wt-iron-icon
                                                                g(width="24" height="24" viewBox="0 0 24 24").tp-wt-iron-icon
                                                                    path(
                                                                        d="M8 7V10C8 10.55 8.45 11 9 11H15C16.1 11 17 11.9 17 13V17C17 18.1 16.1 19 15 19H13V21H11V19H7V18H15C15.55 18 16 17.55 16 17V13C16 12.45 15.55 12 15 12H9C7.9 12 7 11.1 7 10V7C7 5.9 7.9 5 9 5H11V3H13V5H17V6H9C8.45 6 8 6.45 8 7Z"
                                                                    ).tp-wt-iron-icon
                                                    div.nav-item-text.wtcp-navigation-drawer
                                                        |수익 창출
                                    li(role="presentation").wtcp-navigation-drawer
                                        wtcp-ve(track-click role="none").wtcp-navigation-drawer
                                            a(
                                                href=`/studio/channel/${foundUser.user_channel.channel_id}/editing`
                                            )#menu-item-7.menu-item-link.wtcp-navigation-drawer
                                                tp-wt-paper-icon-item(
                                                    role="button" tabindex="-1" style-target="host" aria-disabled="false"
                                                )#menu-paper-icon-item-6.wtcp-navigation-drawer
                                                    div#contentIcon.content-icon.tp-wt-paper-icon-item
                                                        tp-wt-iron-icon(slot="item-icon" item-icon).wtcp-navigation-drawer
                                                            svg(
                                                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                focusable="false" aria-hidden="true"
                                                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                            ).tp-wt-iron-icon
                                                                g(width="24" height="24" viewBox="0 0 24 24").tp-wt-iron-icon
                                                                    path(
                                                                        d="M6.71 7.2L7.89 5.1L6.71 3L8.81 4.18L10.91 3L9.74 5.1L10.92 7.2L8.82 6.02L6.71 7.2ZM18.9 14.26L16.8 13.08L17.98 15.18L16.8 17.28L18.9 16.1L21 17.28L19.82 15.18L21 13.08L18.9 14.26ZM21 3L18.9 4.18L16.8 3L17.98 5.1L16.8 7.2L18.9 6.02L21 7.2L19.82 5.1L21 3ZM17.14 10.02L6.15 21L3 17.85L14 6.85L17.14 10.02ZM6.15 19.59L13.7 12.04L11.96 10.3L4.41 17.85L6.15 19.59Z"
                                                                    ).tp-wt-iron-icon
                                                    div.nav-item-text.wtcp-navigation-drawer
                                                        |맞춤설정
                                    li(role="presentation").wtcp-navigation-drawer
                                        wtcp-ve(track-click role="none").wtcp-navigation-drawer
                                            a(
                                                href=`/studio/channel/${foundUser.user_channel.channel_id}/music`
                                            )#menu-item-8.menu-item-link.wtcp-navigation-drawer
                                                tp-wt-paper-icon-item(
                                                    role="button" tabindex="-1" style-target="host" aria-disabled="false"
                                                )#menu-paper-icon-item-6.wtcp-navigation-drawer
                                                    div#contentIcon.content-icon.tp-wt-paper-icon-item
                                                        tp-wt-iron-icon(slot="item-icon" item-icon).wtcp-navigation-drawer
                                                            svg(
                                                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                focusable="false" aria-hidden="true"
                                                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                            ).tp-wt-iron-icon
                                                                g(width="24" height="24" viewBox="0 0 24 24").tp-wt-iron-icon
                                                                    path(
                                                                        d="M16 6L16 8L14 8L14 13C14 14.1 13.1 15 12 15C10.9 15 10 14.1 10 13C10 11.9 10.9 11 12 11C12.37 11 12.7 11.11 13 11.28L13 6L16 6ZM18 20L4 20L4 6L3 6L3 21L18 21L18 20ZM21 3L6 3L6 18L21 18L21 3ZM7 4L20 4L20 17L7 17L7 4Z"
                                                                    ).tp-wt-iron-icon
                                                    div.nav-item-text.wtcp-navigation-drawer
                                                        |오디오 보관함
                            div#bottom-section.wtcp-navigation-drawer
                                hr.divider.wtcp-navigation-drawer
                                ul.remove-default-style.wtcp-navigation-drawer
                                    li.wtcp-navigation-drawer
                                        wtcp-ve.wtcp-navigation-drawer
                                            tp-wt-paper-icon-item(
                                                role="button" style-target="host" tabindex="0" aria-disabled="false"
                                            )#settings-item.wtcp-navigation-drawer
                                                div#contentIcon.content-icon.tp-wt-paper-icon-item
                                                    tp-wt-iron-icon(slot="item-icon" item-icon).wtcp-navigation-drawer
                                                        svg(
                                                            viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                            focusable="false" aria-hidden="true"
                                                            style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                        ).tp-wt-iron-icon
                                                            g.tp-wt-iron-icon
                                                                path(
                                                                    d="M12,9c1.65,0,3,1.35,3,3s-1.35,3-3,3s-3-1.35-3-3S10.35,9,12,9 M12,8c-2.21,0-4,1.79-4,4s1.79,4,4,4s4-1.79,4-4 S14.21,8,12,8L12,8z M13.22,3l0.55,2.2l0.13,0.51l0.5,0.18c0.61,0.23,1.19,0.56,1.72,0.98l0.4,0.32l0.5-0.14l2.17-0.62l1.22,2.11 l-1.63,1.59l-0.37,0.36l0.08,0.51c0.05,0.32,0.08,0.64,0.08,0.98s-0.03,0.66-0.08,0.98l-0.08,0.51l0.37,0.36l1.63,1.59l-1.22,2.11 l-2.17-0.62l-0.5-0.14l-0.4,0.32c-0.53,0.43-1.11,0.76-1.72,0.98l-0.5,0.18l-0.13,0.51L13.22,21h-2.44l-0.55-2.2l-0.13-0.51 l-0.5-0.18C9,17.88,8.42,17.55,7.88,17.12l-0.4-0.32l-0.5,0.14l-2.17,0.62L3.6,15.44l1.63-1.59l0.37-0.36l-0.08-0.51 C5.47,12.66,5.44,12.33,5.44,12s0.03-0.66,0.08-0.98l0.08-0.51l-0.37-0.36L3.6,8.56l1.22-2.11l2.17,0.62l0.5,0.14l0.4-0.32 C8.42,6.45,9,6.12,9.61,5.9l0.5-0.18l0.13-0.51L10.78,3H13.22 M14,2h-4L9.26,4.96c-0.73,0.27-1.4,0.66-2,1.14L4.34,5.27l-2,3.46 l2.19,2.13C4.47,11.23,4.44,11.61,4.44,12s0.03,0.77,0.09,1.14l-2.19,2.13l2,3.46l2.92-0.83c0.6,0.48,1.27,0.87,2,1.14L10,22h4 l0.74-2.96c0.73-0.27,1.4-0.66,2-1.14l2.92,0.83l2-3.46l-2.19-2.13c0.06-0.37,0.09-0.75,0.09-1.14s-0.03-0.77-0.09-1.14l2.19-2.13 l-2-3.46L16.74,6.1c-0.6-0.48-1.27-0.87-2-1.14L14,2L14,2z"
                                                                ).tp-wt-iron-icon
                                                div.nav-item-text.wtcp-navigation-drawer
                                                    |설정
                                    li.wtcp-navigation-drawer
                                        wtcp-ve.wtcp-navigation-drawer
                                            tp-wt-paper-icon-item(
                                                role="button" style-target="host" tabindex="0" aria-disabled="false"
                                            )#settings-item.wtcp-navigation-drawer
                                                div#contentIcon.content-icon.tp-wt-paper-icon-item
                                                    tp-wt-iron-icon(slot="item-icon" item-icon).wtcp-navigation-drawer
                                                        svg(
                                                            viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                            focusable="false" aria-hidden="true"
                                                            style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                        ).tp-wt-iron-icon
                                                            g.tp-wt-iron-icon
                                                                path(
                                                                    d="M13,14h-2v-2h2V14z M13,5h-2v6h2V5z M19,3H5v16.59l3.29-3.29L8.59,16H9h10V3 M20,2v15H9l-5,5V2H20L20,2z"
                                                                ).tp-wt-iron-icon
                                                div.nav-item-text.wtcp-navigation-drawer
                                                    |의견 보내기
                    main(studio-theme="DEFAULT")#main.wtcp-entity-page
                        div.all-pages.wtcp-app
                            wtcp-animatable(name="channel.videos").page.selected.wtcp-app
                                wtcp-content-section#video-list.wtcp-app
                                    wtcp-entity-page-header.page-header.wtcp-content-section
                                        div.wrapper.wtcp-entity-page-header
                                            div.primary.wtcp-entity-page-header
                                                h1.page-title.wtcp-entity-page-header
                                                    |채널 콘텐츠
                                    div.header.wtcp-content-section
                                        wtcp-primary-action-bar(animate-selection-bar).wtcp-content-section
                                            div.wrapper.wtcp-primary-action-bar
                                                div.primary.wtcp-primary-action-bar
                                                    tp-wt-paper-tabs(noink role="tablist" tabindex="0").wtcp-primary-action-bar
                                                        div(style="touch-action: pan-y;")#tabsContainer.tp-wt-paper-tabs
                                                            div(style-target="content")#tabsContent.tabs-content.fit-container.tp-wt-paper-tabs
                                                                div(style-target="selection-bar" style="left: 100px; width: 48px;")#selectionBar.selection-bar.tp-wt-paper-tabs
                                                                tp-wt-paper-tab(slot="tabs" noboldonfocus role="tab" style-target="host" aria-disabled="false" tabindex="-1" aria-selected="false")#inspiration-tab.wtcp-content-section
                                                                    div(style-target="tab-content").tab-content.tp-wt-paper-tab
                                                                        wtcp-ve(track-click="true" role="none").wtcp-content-section
                                                                            span.wtcp-content-section
                                                                                |아이디어
                                                                tp-wt-paper-tab(slot="tabs" noboldonfocus role="tab" style-target="host" aria-disabled="false" tabindex="-1" aria-selected="true")#video-list-uploads-tab.wtcp-content-section.iron-selected
                                                                    div(style-target="tab-content").tab-content.tp-wt-paper-tab
                                                                        wtcp-ve(track-click="true" role="none").wtcp-content-section
                                                                            span.wtcp-content-section
                                                                                |동영상
                                                                tp-wt-paper-tab(slot="tabs" noboldonfocus role="tab" style-target="host" aria-disabled="false" tabindex="-1" aria-selected="true")#video-list-shorts-tab.wtcp-content-section
                                                                    div(style-target="tab-content").tab-content.tp-wt-paper-tab
                                                                        wtcp-ve(track-click="true" role="none").wtcp-content-section
                                                                            span.wtcp-content-section
                                                                                |Shorts
                                                                tp-wt-paper-tab(slot="tabs" noboldonfocus role="tab" style-target="host" aria-disabled="false" tabindex="-1" aria-selected="true")#video-list-live-tab.wtcp-content-section
                                                                    div(style-target="tab-content").tab-content.tp-wt-paper-tab
                                                                        wtcp-ve(track-click="true" role="none").wtcp-content-section
                                                                            span.wtcp-content-section
                                                                                |라이브
                                                                tp-wt-paper-tab(slot="tabs" noboldonfocus role="tab" style-target="host" aria-disabled="false" tabindex="-1" aria-selected="true")#content-list-post-tab.wtcp-content-section
                                                                    div(style-target="tab-content").tab-content.tp-wt-paper-tab
                                                                        wtcp-ve(track-click="true" role="none").wtcp-content-section
                                                                            span.wtcp-content-section
                                                                                |게시물
                                                                tp-wt-paper-tab(slot="tabs" noboldonfocus role="tab" style-target="host" aria-disabled="false" tabindex="-1" aria-selected="true")#playlist-list-tab.wtcp-content-section
                                                                    div(style-target="tab-content").tab-content.tp-wt-paper-tab
                                                                        wtcp-ve(track-click="true" role="none").wtcp-content-section
                                                                            span.wtcp-content-section
                                                                                |재생목록
                                                                tp-wt-paper-tab(slot="tabs" noboldonfocus role="tab" style-target="host" aria-disabled="false" tabindex="-1" aria-selected="true")#podcast-list-tab.wtcp-content-section
                                                                    div(style-target="tab-content").tab-content.tp-wt-paper-tab
                                                                        wtcp-ve(track-click="true" role="none").wtcp-content-section
                                                                            span.wtcp-content-section
                                                                                |팟캐스트
                                                                tp-wt-paper-tab(slot="tabs" noboldonfocus role="tab" style-target="host" aria-disabled="false" tabindex="-1" aria-selected="true")#podcast-list-tab.wtcp-content-section
                                                                    div(style-target="tab-content").tab-content.tp-wt-paper-tab
                                                                        wtcp-ve(track-click="true" role="none").wtcp-content-section
                                                                            span.wtcp-content-section
                                                                                |프로모션
                                    wtcp-video-section.wtcp-content-section
                                        wtcp-video-section-content(modern)#video-list.wtcp-video-section
                                            div(role="table" aria-label="동영상 목록").video-table-content.wtcp-video-section-content
                                                div(role="rowgroup")#header.wtcp-video-section-content
                                                    div#stuck-to-left-header.wtcp-video-section-content
                                                        wtcp-video-filter#video-filter.wtcp-video-section-content
                                                            wtcp-filter-bar(menu-item-order="by-title" type="hidden")#filter-bar.wtcp-video-section-content
                                                                tp-wt-iron-icon#filter-icon.wtcp-filter-bar
                                                                    svg(
                                                                        viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                        focusable="false" aria-hidden="true"
                                                                        style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                                    ).tp-wt-iron-icon
                                                                        g.tp-wt-iron-icon
                                                                            path(
                                                                                d="M21,6H3V5h18V6z M18,11H6v1h12V11z M15,17H9v1h6V17z"
                                                                            ).tp-wt-iron-icon
                                                                wtcp-chip-bar(clear-all-tooltip-label="필터 삭제" hide-copy-chips-button input-aria-autocomplete="list" modern)#chip-bar.wtcp-filter-bar
                                                                    div.chip-and-bar.wtcp-chip-bar
                                                                        input(autocomplete="off" aria-haspopup="false" aria-autocomplete="list" placeholder="필터")#text-input.text-input.wtcp-chip-bar
                                                    wtcp-table-header(role="row" sort-indicator modern)#table-header.wtcp-video-section-content
                                                        div(role="columnheader" style="min-width:32px;padding-left:24px;padding-right:4px;flex:0 0 32px;").tablecell-selection.floating-column.cell-header.wtcp-table-header
                                                            wtcp-checkbox-lit(aria-disabled="false" tabindex="0" aria-checked="false" role="checkbox")#selection-checkbox.wtcp-table-header
                                                                div#root-container.wtcp-checkbox-lit
                                                                    div#checkbox-line-height-aligner-container.wtcp-checkbox-lit
                                                                        div#checkbox-line-height-aligner.wtcp-checkbox-lit
                                                                            div#checkbox-container.wtcp-checkbox-lit
                                                                                div#checkbox.wtcp-checkbox-lit
                                                        div(role="columnheader" style="min-width:382px;padding-left:12px;padding-right:0px;flex:3 0 382px;left:60px;").tablecel-video.floating-column.last-floating-column.cell-header.wtcp-table-header
                                                            h3#video-header-name.header-name.wtcp-table-header
                                                                span.wtcp-table-header
                                                                    |동영상
                                                        div(role="columnheader" style="min-width:100px;padding-left:24px;padding-right:8px;flex:1 0 100px;").tablecel-visibility.cell-header.wtcp-table-header
                                                            h3#visibility-header-name.header-name.wtcp-table-header
                                                                span.wtcp-table-header
                                                                    |공개 상태
                                                        div(role="columnheader" style="min-width:100px;padding-left:12px;padding-right:12px;flex:1 0 100px;").tablecel-restrictions.cell-header.wtcp-table-header
                                                            h3#restrictions-header-name.header-name.wtcp-table-header
                                                                span.wtcp-table-header
                                                                    |제한사항
                                                        div(role="columnheader" style="min-width:100px;padding-left:12px;padding-right:12px;flex:0 0 100px;").tablecel-date.sortable.column-sorted.cell-header.wtcp-table-header
                                                            h3#restrictions-header-name.header-name.wtcp-table-header
                                                                wtcp-ve(role="none").wtcp-table-header
                                                                    button#date-header-name.header-name.remove-default-style.wtcp-table-header
                                                                        span.wtcp-table-header
                                                                            |날짜
                                                                        tp-wt-iron-icon(mini icon="wt-sys-icons:down_arrow").wtcp-table-header
                                                                            svg(
                                                                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                                focusable="false" aria-hidden="true"
                                                                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                                            ).tp-wt-iron-icon
                                                                                g.tp-wt-iron-icon
                                                                                    polygon(
                                                                                        points="18.65,11.65 12,18.29 12,4 11,4 11,18.29 4.35,11.65 3.65,12.35 11.5,20.21 19.35,12.35 "
                                                                                    ).tp-wt-iron-icon
                                                        div(role="columnheader" style="min-width:60px;padding-left:12px;padding-right:12px;flex:1 0 60px;").tablecel-views.sortable.right-align.cell-header.wtcp-table-header
                                                            h3.header-name.wtcp-table-header
                                                                wtcp-ve(role="none").wtcp-table-header
                                                                    button#views-header-name.header-name.remove-default-style.wtcp-table-header
                                                                        span.wtcp-table-header
                                                                            |조회수
                                                        div(role="columnheader" style="min-width:60px;padding-left:12px;padding-right:12px;flex:1 0 60px;").tablecel-comments.right-align.cell-header.wtcp-table-header
                                                            h3#comments-header-name.header-name.wtcp-table-header
                                                                span.wtcp-table-header
                                                                    |댓글
                                                        div(role="columnheader" style="min-width:100px;padding-left:12px;padding-right:24px;flex:1 0 100px;").tablecel-likes.right-align.cell-header.wtcp-table-header
                                                            h3#likes-header-name.header-name.wtcp-table-header
                                                                span.wtcp-table-header
                                                                    |좋아요(싫어요 대비)
                                                each videoInfo in foundUser.user_video
                                                    +videoItSelf(videoInfo)
                                                div(role="rowgroup")#footer-container.wtcp-video-section-content
                                                    wtcp-table-footer#footer.wtcp-video-section-content
                                                        div#page-control-container.wtcp-table-footer
                                                            span.wtcp-table-footer
                                                                |페이지당 행 수:
                                                            wtcp-select(aria-label="페이지당 행 수를 선택하는 메뉴입니다." borderless compact track-click)#page-size.wtcp-table-footer
                                                                wtcp-text-dropdown-trigger(aria-required="false" compact modern)#trigger.wtcp-select
                                                                    wtcp-dropdown-trigger(role="button" modern compact tabindex="0").wtcp-text-dropdown-trigger
                                                                        div(role="button").borderless.container.wtcp-dropdown-trigger
                                                                            div.left-container.wtcp-dropdown-trigger
                                                                                span.dropdown-trigger-text.wtcp-text-dropdown-trigger
                                                                                    |30
                                                                            div.right-container.wtcp-dropdown-trigger
                                                                                tp-wt-iron-icon#right-icon.right-icon.wtcp-dropdown-trigger
                                                                                    svg(
                                                                                        viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                                        focusable="false" aria-hidden="true"
                                                                                        style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                                                    ).tp-wt-iron-icon
                                                                                        g.tp-wt-iron-icon
                                                                                            path(
                                                                                                d="M12,15.7L5.6,9.4l0.7-0.7l5.6,5.6l5.6-5.6l0.7,0.7L12,15.7z"
                                                                                            ).tp-wt-iron-icon
                                                            span.page-description.wtcp-table-footer
                                                                |#{`${foundUser.user_video.length}개 중 n~n+1`}
                                                            wtcp-icon-button(disabled tabindex="-1" modern)#navigate-first.rtl-flip.wtcp-table-footer
                                                                tp-wt-iron-icon.remove-defaults.wtcp-icon-button
                                                                    svg(
                                                                        viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                        focusable="false" aria-hidden="true"
                                                                        style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                                    ).tp-wt-iron-icon
                                                                        g.tp-wt-iron-icon
                                                                            path(
                                                                                d="M7,6H6v12h1V6z M17.35,17.65L11.71,12l5.65-5.65l0.71,0.71L13.12,12l4.94,4.94L17.35,17.65z"
                                                                            ).tp-wt-iron-icon
                                                            wtcp-icon-button(disabled tabindex="-1" modern)#navigate-before.rtl-flip.wtcp-table-footer
                                                                tp-wt-iron-icon.remove-defaults.wtcp-icon-button
                                                                    svg(
                                                                        viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                        focusable="false" aria-hidden="true"
                                                                        style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                                    ).tp-wt-iron-icon
                                                                        g.tp-wt-iron-icon
                                                                            path(
                                                                                d="M14.6,18.4L8.3,12l6.4-6.4l0.7,0.7L9.7,12l5.6,5.6L14.6,18.4z"
                                                                            ).tp-wt-iron-icon
                                                            wtcp-icon-button(disabled tabindex="-1" modern)#navigate-after.rtl-flip.wtcp-table-footer
                                                                tp-wt-iron-icon.remove-defaults.wtcp-icon-button
                                                                    svg(
                                                                        viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                        focusable="false" aria-hidden="true"
                                                                        style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                                    ).tp-wt-iron-icon
                                                                        g.tp-wt-iron-icon
                                                                            path(
                                                                                d="M9.4,18.4l-0.7-0.7l5.6-5.6L8.6,6.4l0.7-0.7l6.4,6.4L9.4,18.4z"
                                                                            ).tp-wt-iron-icon
                                                            wtcp-icon-button(disabled tabindex="-1" modern)#navigate-last.rtl-flip.wtcp-table-footer
                                                                tp-wt-iron-icon.remove-defaults.wtcp-icon-button
                                                                    svg(
                                                                        viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                        focusable="false" aria-hidden="true"
                                                                        style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                                    ).tp-wt-iron-icon
                                                                        g.tp-wt-iron-icon
                                                                            path(
                                                                                d="M18,18h-1V6h1V18z M5.65,7.06L10.59,12l-4.94,4.94l0.71,0.71L12,12L6.36,6.35L5.65,7.06z"
                                                                            ).tp-wt-iron-icon
        wtcp-popup-container.wtcp-app
            tp-wt-iron-dropdown(
                horizontal-align="auto" vertical-align="top" aria-disabled="false"
                prevent-autonav="true" style="outline: none; position: fixed; display: none;"
                aria-hidden="true"
            ).wtcp-popup-container.account-dropdown
                div#contentWrapper.tp-wt-iron-dropdown
                    wtd-multi-page-menu-renderer(
                        slot="dropdown-content" menu-style="multi-page-menu-style-type-account" tabindex="-1" 
                        style="outline: none; box-sizing: border-box; max-width: 300px; max-height: 349.6px;"
                    ).wtcp-popup-container
                        div#header.wtd-multi-page-menu-renderer
                            wtd-active-account-header-renderer(enable-handles-account-menu-switcher).wtd-multi-page-menu-renderer
                                wt-img-shadow(
                                    height="40" width="24" style="background-color: transparent;" loaded
                                )#avatar.wtd-active-account-header-renderer.no-transition
                                    img(
                                        draggable="false" height="40" width="40"
                                        src=`/${foundUser.avatar}`
                                    )#img.wt-img-shadow
                                div#channel-container.wtd-active-account-header-renderer
                                    wt-formatted-string(
                                        ellipsis-truncate ellipsis-truncate-styling title=foundUser.username
                                    )#account-name.wtd-active-account-header-renderer
                                        |#{foundUser.username}
                                    wt-formatted-string(
                                        ellipsis-truncate respect-lang-dir ellipsis-truncate-styling
                                        title=foundUser.user_channel.channel_handle style="text-align: left;"
                                    )#channel-handle.wtd-active-account-header-renderer
                                        |#{foundUser.user_channel.channel_handle}
                        div#container.menu-container.wtd-multi-page-menu-renderer
                            div#sections.wtd-multi-page-menu-renderer
                                wt-multi-page-menu-section-renderer.wtd-multi-page-menu-renderer
                                    div#items.wt-multi-page-menu-section-renderer
                                        wtd-compact-link-renderer(hide-secondary-string compact-link-style).wt-multi-page-menu-section-renderer
                                            a(role="link" tabindex="-1" href=`/${foundUser.user_channel.channel_handle}`)#endpoint.wt-simple-endpoint.wtd-compact-link-renderer
                                                tp-wt-paper-item(role="none" style-target="host" tabindex="0" aria-disabeld="false").wtd-compact-link-renderer
                                                    div#content-icon.wtd-compact-link-renderer
                                                        wt-icon.wtd-compact-link-renderer
                                                            svg(
                                                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                focusable="false" aria-hidden="true"
                                                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                            ).wt-icon
                                                                g.wt-icon
                                                                    path(
                                                                        d="M3,3v18h18V3H3z M4.99,20c0.39-2.62,2.38-5.1,7.01-5.1s6.62,2.48,7.01,5.1H4.99z M9,10c0-1.65,1.35-3,3-3s3,1.35,3,3 c0,1.65-1.35,3-3,3S9,11.65,9,10z M12.72,13.93C14.58,13.59,16,11.96,16,10c0-2.21-1.79-4-4-4c-2.21,0-4,1.79-4,4 c0,1.96,1.42,3.59,3.28,3.93c-4.42,0.25-6.84,2.8-7.28,6V4h16v15.93C19.56,16.73,17.14,14.18,12.72,13.93z"
                                                                    ).wt-icon
                                                    div#primary-text-container.wtd-compact-link-renderer
                                                        wt-formatted-string#label.wtd-compact-link-renderer
                                                            |내 채널
                                        wtd-compact-link-renderer(hide-secondary-string compact-link-style).wt-multi-page-menu-section-renderer
                                            a(role="link" tabindex="-1" href="/")#endpoint.wt-simple-endpoint.wtd-compact-link-renderer
                                                tp-wt-paper-item(role="none" style-target="host" tabindex="0" aria-disabeld="false").wtd-compact-link-renderer
                                                    div#content-icon.wtd-compact-link-renderer
                                                        wt-icon.wtd-compact-link-renderer
                                                            svg(
                                                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                focusable="false" aria-hidden="true"
                                                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                            ).wt-icon
                                                                g.wt-icon
                                                                    path(
                                                                        d="M10,9.35,15,12l-5,2.65ZM12,6a54.36,54.36,0,0,0-7.56.38A1.53,1.53,0,0,0,3.38,7.44,24.63,24.63,0,0,0,3,12a24.63,24.63,0,0,0,.38,4.56,1.53,1.53,0,0,0,1.06,1.06A54.36,54.36,0,0,0,12,18a54.36,54.36,0,0,0,7.56-.38,1.53,1.53,0,0,0,1.06-1.06A24.63,24.63,0,0,0,21,12a24.63,24.63,0,0,0-.38-4.56,1.53,1.53,0,0,0-1.06-1.06A54.36,54.36,0,0,0,12,6h0m0-1s6.25,0,7.81.42a2.51,2.51,0,0,1,1.77,1.77A25.87,25.87,0,0,1,22,12a25.87,25.87,0,0,1-.42,4.81,2.51,2.51,0,0,1-1.77,1.77C18.25,19,12,19,12,19s-6.25,0-7.81-.42a2.51,2.51,0,0,1-1.77-1.77A25.87,25.87,0,0,1,2,12a25.87,25.87,0,0,1,.42-4.81A2.51,2.51,0,0,1,4.19,5.42C5.75,5,12,5,12,5Z"
                                                                    ).wt-icon
                                                    div#primary-text-container.wtd-compact-link-renderer
                                                        wt-formatted-string#label.wtd-compact-link-renderer
                                                            |WeTube
                                        wtd-compact-link-renderer(has-secondary hide-secondary-string compact-link-style).wt-multi-page-menu-section-renderer
                                            a(role="link" tabindex="-1")#endpoint.wt-simple-endpoint.wtd-compact-link-renderer
                                                tp-wt-paper-item(role="none" style-target="host" tabindex="0" aria-disabeld="false").wtd-compact-link-renderer
                                                    div#content-icon.wtd-compact-link-renderer
                                                        wt-icon.wtd-compact-link-renderer
                                                            svg(
                                                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                focusable="false" aria-hidden="true"
                                                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                            ).wt-icon
                                                                g.wt-icon
                                                                    path(
                                                                        d="M3,3v18h18V3H3z M4.99,20c0.39-2.62,2.38-5.1,7.01-5.1s6.62,2.48,7.01,5.1H4.99z M9,10c0-1.65,1.35-3,3-3s3,1.35,3,3 c0,1.65-1.35,3-3,3S9,11.65,9,10z M12.72,13.93C14.58,13.59,16,11.96,16,10c0-2.21-1.79-4-4-4c-2.21,0-4,1.79-4,4 c0,1.96,1.42,3.59,3.28,3.93c-4.42,0.25-6.84,2.8-7.28,6V4h16v15.93C19.56,16.73,17.14,14.18,12.72,13.93z"
                                                                    ).wt-icon
                                                    div#primary-text-container.wtd-compact-link-renderer
                                                        wt-formatted-string#label.wtd-compact-link-renderer
                                                            |계정 전환
                                                    wt-icon#right-icon.wtd-compact-link-renderer
                                                        svg(
                                                            viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                            focusable="false" aria-hidden="true"
                                                            style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                        ).wt-icon
                                                            g(mirror-in-rtl).wt-icon
                                                                path(
                                                                    d="M9.4,18.4l-0.7-0.7l5.6-5.6L8.6,6.4l0.7-0.7l6.4,6.4L9.4,18.4z"
                                                                ).wt-icon
                                        wtd-compact-link-renderer(hide-secondary-string compact-link-style).wt-multi-page-menu-section-renderer
                                            a(role="link" tabindex="-1" href="/logout")#endpoint.wt-simple-endpoint.wtd-compact-link-renderer
                                                tp-wt-paper-item(role="none" style-target="host" tabindex="0" aria-disabeld="false").wtd-compact-link-renderer
                                                    div#content-icon.wtd-compact-link-renderer
                                                        wt-icon.wtd-compact-link-renderer
                                                            svg(
                                                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                focusable="false" aria-hidden="true"
                                                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                            ).wt-icon
                                                                g.wt-icon
                                                                    path(
                                                                        d="M3,3v18h18V3H3z M4.99,20c0.39-2.62,2.38-5.1,7.01-5.1s6.62,2.48,7.01,5.1H4.99z M9,10c0-1.65,1.35-3,3-3s3,1.35,3,3 c0,1.65-1.35,3-3,3S9,11.65,9,10z M12.72,13.93C14.58,13.59,16,11.96,16,10c0-2.21-1.79-4-4-4c-2.21,0-4,1.79-4,4 c0,1.96,1.42,3.59,3.28,3.93c-4.42,0.25-6.84,2.8-7.28,6V4h16v15.93C19.56,16.73,17.14,14.18,12.72,13.93z"
                                                                    ).wt-icon
                                                    div#primary-text-container.wtd-compact-link-renderer
                                                        wt-formatted-string#label.wtd-compact-link-renderer
                                                            |로그아웃
                                wt-multi-page-menu-section-renderer.wtd-multi-page-menu-renderer
                                    div#items.wt-multi-page-menu-section-renderer
                                        wtd-compact-link-renderer(has-secondary hide-secondary-string compact-link-style).wt-multi-page-menu-section-renderer
                                            a(role="link" tabindex="-1")#endpoint.wt-simple-endpoint.wtd-compact-link-renderer
                                                tp-wt-paper-item(role="none" style-target="host" tabindex="0" aria-disabeld="false").wtd-compact-link-renderer
                                                    div#content-icon.wtd-compact-link-renderer
                                                        wt-icon.wtd-compact-link-renderer
                                                            svg(
                                                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                focusable="false" aria-hidden="true"
                                                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                            ).wt-icon
                                                                g.wt-icon
                                                                    path(
                                                                        d="M12 22C10.93 22 9.86998 21.83 8.83998 21.48L7.41998 21.01L8.83998 20.54C12.53 19.31 15 15.88 15 12C15 8.12 12.53 4.69 8.83998 3.47L7.41998 2.99L8.83998 2.52C9.86998 2.17 10.93 2 12 2C17.51 2 22 6.49 22 12C22 17.51 17.51 22 12 22ZM10.58 20.89C11.05 20.96 11.53 21 12 21C16.96 21 21 16.96 21 12C21 7.04 16.96 3 12 3C11.53 3 11.05 3.04 10.58 3.11C13.88 4.81 16 8.21 16 12C16 15.79 13.88 19.19 10.58 20.89Z"
                                                                    ).wt-icon
                                                    div#primary-text-container.wtd-compact-link-renderer
                                                        wt-formatted-string#label.wtd-compact-link-renderer
                                                            |디자인: 어두운 테마
                                                    wt-icon#right-icon.wtd-compact-link-renderer
                                                        svg(
                                                            viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                            focusable="false" aria-hidden="true"
                                                            style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                        ).wt-icon
                                                            g(mirror-in-rtl).wt-icon
                                                                path(
                                                                    d="M9.4,18.4l-0.7-0.7l5.6-5.6L8.6,6.4l0.7-0.7l6.4,6.4L9.4,18.4z"
                                                                ).wt-icon
                                        wtd-compact-link-renderer(hide-secondary-string compact-link-style).wt-multi-page-menu-section-renderer
                                            a(role="link" tabindex="-1")#endpoint.wt-simple-endpoint.wtd-compact-link-renderer
                                                tp-wt-paper-item(role="none" style-target="host" tabindex="0" aria-disabeld="false").wtd-compact-link-renderer
                                                    div#content-icon.wtd-compact-link-renderer
                                                        wt-icon.wtd-compact-link-renderer
                                                            svg(
                                                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                                                focusable="false" aria-hidden="true"
                                                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                                                            ).wt-icon
                                                                g.wt-icon
                                                                    path(
                                                                        d="M13,14h-2v-2h2V14z M13,5h-2v6h2V5z M19,3H5v16.59l3.29-3.29L8.59,16H9h10V3 M20,2v15H9l-5,5V2H20L20,2z"
                                                                    ).wt-icon
                                                    div#primary-text-container.wtd-compact-link-renderer
                                                        wt-formatted-string#label.wtd-compact-link-renderer
                                                            |의견 보내기
    wtcp-text-menu(modern)#creation-menu.wtcp-header
        tp-wt-paper-dialog(
            style-target="dialog" role="dialog" tabindex="-1" with-backdrop aria-hidden="true"
            style="outline: none; position: fixed; box-sizing: border-box; max-width: initial; max-height: 184px; display: none;"
        )#dialog.wtcp-text-menu
            tp-wt-paper-listbox(selectable=".selectable-item" role="menu" tabindex="0")#paper-list.wtcp-text-menu
                tp-wt-paper-item(role="menuitem" style-target="host" tabindex="-1" aria-disabled="false")#text-item-0.tp-wt-paper-item.selectable-item.wtcp-text-menu
                    a(href=`/studio/${foundUser._id}/videos/upload`)
                    wtcp-ve(role="none").wtcp-text-menu
                        tp-wt-iron-icon.menu-icon.wtcp-text-menu
                            svg(
                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                focusable="false" aria-hidden="true"
                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                            ).tp-wt-iron-icon
                                g(width="24" height="24" viewBox="0 0 24 24").tp-wt-iron-icon
                                    path(
                                        d="M17,18v1H6V18ZM6.49,9l.71.71L11,5.91V16h1V5.91l3.8,3.81L16.51,9l-5-5Z"
                                    ).tp-wt-iron-icon
                        tp-wt-paper-item-body.wtcp-text-menu
                            div.wtcp-text-menu
                                div.right-container.wtcp-text-menu
                                    div.text-content.wtcp-text-menu
                                        wt-formatted-string.item-text.main-text.wtcp-text-menu
                                            |동영상 업로드
                tp-wt-paper-item(role="menuitem" style-target="host" tabindex="-1" aria-disabled="false")#text-item-1.tp-wt-paper-item.selectable-item.wtcp-text-menu
                    wtcp-ve(role="none").wtcp-text-menu
                        tp-wt-iron-icon.menu-icon.wtcp-text-menu
                            svg(
                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                focusable="false" aria-hidden="true"
                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                            ).tp-wt-iron-icon
                                g(width="24" height="24" viewBox="0 0 24 24").tp-wt-iron-icon
                                    path(
                                        d="M14 11.9999C14 13.0999 13.1 13.9999 12 13.9999C10.9 13.9999 10 13.0999 10 11.9999C10 10.8999 10.9 9.99992 12 9.99992C13.1 9.99992 14 10.8999 14 11.9999ZM8.48 8.44992L7.77 7.74992C6.68 8.82992 6 10.3399 6 11.9999C6 13.6599 6.68 15.1699 7.77 16.2499L8.48 15.5399C7.57 14.6399 7 13.3899 7 11.9999C7 10.6099 7.57 9.35992 8.48 8.44992ZM16.23 7.74992L15.52 8.45992C16.43 9.35992 17 10.6099 17 11.9999C17 13.3899 16.43 14.6399 15.52 15.5499L16.23 16.2599C17.32 15.1699 18 13.6599 18 11.9999C18 10.3399 17.32 8.82992 16.23 7.74992ZM5.65 5.62992L4.95 4.91992C3.13 6.72992 2 9.23992 2 11.9999C2 14.7599 3.13 17.2699 4.95 19.0799L5.66 18.3699C4.02 16.7399 3 14.4899 3 11.9999C3 9.50992 4.02 7.25992 5.65 5.62992ZM19.05 4.91992L18.34 5.62992C19.98 7.25992 21 9.50992 21 11.9999C21 14.4899 19.98 16.7399 18.35 18.3699L19.06 19.0799C20.87 17.2699 22 14.7599 22 11.9999C22 9.23992 20.87 6.72992 19.05 4.91992Z"
                                    ).tp-wt-iron-icon
                        tp-wt-paper-item-body.wtcp-text-menu
                            div.wtcp-text-menu
                                div.right-container.wtcp-text-menu
                                    div.text-content.wtcp-text-menu
                                        wt-formatted-string.item-text.main-text.wtcp-text-menu
                                            |라이브 스트리밍 시작
                tp-wt-paper-item(role="menuitem" style-target="host" tabindex="-1" aria-disabled="false")#text-item-2.tp-wt-paper-item.selectable-item.wtcp-text-menu
                    wtcp-ve(role="none").wtcp-text-menu
                        tp-wt-iron-icon.menu-icon.wtcp-text-menu
                            svg(
                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                focusable="false" aria-hidden="true"
                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                            ).tp-wt-iron-icon
                                g(width="24" height="24" viewBox="0 0 24 24").tp-wt-iron-icon
                                    path(
                                        d="M15.01 7.34L16.65 8.98L8.64 17H6.99V15.36L15.01 7.34ZM15.01 5.92L5.99 14.94V18H9.05L18.07 8.98L15.01 5.92ZM17.91 4.43L19.58 6.1L18.91 6.77L17.24 5.1L17.91 4.43ZM17.91 3.02L15.83 5.1L18.92 8.19L21 6.11L17.91 3.02ZM21 10H20V20H4V4H14V3H3V21H21V10Z"
                                    ).tp-wt-iron-icon
                        tp-wt-paper-item-body.wtcp-text-menu
                            div.wtcp-text-menu
                                div.right-container.wtcp-text-menu
                                    div.text-content.wtcp-text-menu
                                        wt-formatted-string.item-text.main-text.wtcp-text-menu
                                            |게시물 작성
                tp-wt-paper-item(role="menuitem" style-target="host" tabindex="-1" aria-disabled="false")#text-item-3.tp-wt-paper-item.selectable-item.wtcp-text-menu
                    wtcp-ve(role="none").wtcp-text-menu
                        tp-wt-iron-icon.menu-icon.wtcp-text-menu
                            svg(
                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                focusable="false" aria-hidden="true"
                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                            ).tp-wt-iron-icon
                                g.tp-wt-iron-icon
                                    path(
                                        d="M22,13h-4v4h-2v-4h-4v-2h4V7h2v4h4V13z M14,7H2v1h12V7z M2,12h8v-1H2V12z M2,16h8v-1H2V16z"
                                    ).tp-wt-iron-icon
                        tp-wt-paper-item-body.wtcp-text-menu
                            div.wtcp-text-menu
                                div.right-container.wtcp-text-menu
                                    div.text-content.wtcp-text-menu
                                        wt-formatted-string.item-text.main-text.wtcp-text-menu
                                            |새 재생목록
                tp-wt-paper-item(role="menuitem" style-target="host" tabindex="-1" aria-disabled="false")#text-item-4.tp-wt-paper-item.selectable-item.wtcp-text-menu
                    wtcp-ve(role="none").wtcp-text-menu
                        tp-wt-iron-icon.menu-icon.wtcp-text-menu
                            svg(
                                viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
                                focusable="false" aria-hidden="true"
                                style="pointer-events: none; display: block; width: 100%; height: 100%;"
                            ).tp-wt-iron-icon
                                g(width="24" height="24" viewBox="0 0 24 24").tp-wt-iron-icon
                                    path(
                                        d="M6,12c0-3.31,2.69-6,6-6s6,2.69,6,6c0,1.66-0.67,3.16-1.77,4.25l-0.71-0.71C16.44,14.63,17,13.38,17,12c0-2.76-2.24-5-5-5 s-5,2.24-5,5c0,1.38,0.56,2.63,1.47,3.54l-0.71,0.71C6.67,15.16,6,13.66,6,12z M14,12c0-1.1-0.9-2-2-2s-2,0.9-2,2 c0,0.74,0.4,1.38,1,1.72V22h2v-8.28C13.6,13.38,14,12.74,14,12z M4.94,19.08l0.71-0.71C4.01,16.74,3,14.49,3,12c0-4.96,4.04-9,9-9 s9,4.04,9,9c0,2.49-1.01,4.74-2.65,6.37l0.71,0.71C20.88,17.27,22,14.77,22,12c0-5.52-4.48-10-10-10S2,6.48,2,12 C2,14.77,3.12,17.27,4.94,19.08z"
                                    ).tp-wt-iron-icon
                        tp-wt-paper-item-body.wtcp-text-menu
                            div.wtcp-text-menu
                                div.right-container.wtcp-text-menu
                                    div.text-content.wtcp-text-menu
                                        wt-formatted-string.item-text.main-text.wtcp-text-menu
                                            |새로운 팟캐스트