extends partials/html-head.pug
block page-css
    link(rel="stylesheet", href="assets/css/watchVideo.bundle.css" type="text/css")
block page-js
    script(src="assets/js/watchVideo.bundle.js" type="text/javascript" defer)
block wtd-app
    div(
        darker-dark-theme frosted-glass-mode="none"
    ).wtd-app-html-tag
        div#guide-service.wt-guide-manager-html-tag.wtd-app
        div.wt-mdx-manager-html-tag.wtd-app
        div.wt-playlist-manager-html-tag.wtd-app
        div.wt-hotkey-manager-html-tag.wtd-app
        div#content.wtd-app
            div#frosted-glass.wtd-app
            include partials/masthead.pug
            include partials/app-drawer.pug
            div#page-manager.wtd-page-manager-html-tag.wtd-app
                div(
                    js-panel-height_ flexy-enable-small-window-sizing flexy-enable-large-window-sizing
                    cinematics-enabled rounded-player-large flexy rounded-info-panel is-dark-theme
                    is-four-three-to-sixteen-nine-video_ default-layout is-two-columns_ default-two-column-layout
                    watch-metadata-refresh has-metadata response-has-comments video-id=foundVideoFromDB._id
                    cinematic-light-theme role="main" flexy-small-window_
                    style="--wtd-watch-flexy-scrollbar-width: 17px; --wtd-watch-flexy-max-player-width-wide-screen: 1280px; --wtd-watch-flexy-space-below-player: 136px; --wtd-watch-flexy-panel-max-height: 360px; --wtd-watch-flexy-chat-max-height: 360px; --wtd-watch-flexy-structured-description-max-height: 360px; --wtd-watch-flexy-comments-panel-max-height: 360px; --wtd-comments-engagement-panel-content-height: 360px;"
                ).wtd-watch-flexy-html-tag.wtd-page-manager.watch-root-element.hide-skeleton
                    div(style="display: none;")#two-column-query.iron-media-query-html-tag.wtd-watch-flexy
                    div(style="display: none;")#small-window-query.iron-media-query-html-tag.wtd-watch-flexy
                    div(style="display: none;")#large-window-query.iron-media-query-html-tag.wtd-watch-flexy
                    div(style="display: none;")#watch-while-query.iron-media-query-html-tag.wtd-watch-flexy
                    div#microformat.wtd-watch-flexy
                    div#miniplayer-bar.wtd-watch-flexy
                    div#full-bleed-container.wtd-watch-flexy
                    div#single-column-container.wtd-watch-flexy
                    div#columns.wtd-watch-flexy
                        div#primary.wtd-watch-flexy
                            div#primary-inner.wtd-watch-flexy
                                div#player.wtd-watch-flexy
                                    div#cinematics-container.wtd-watch-flexy
                                        div#cinematics.wtd-watch-flexy
                                            div(style="aspect-ratio: 1.77778 / 1; max-width: 100%; height: 100%; margin: 0px auto; display: flex; flex-direction: column; justify-content: center; pointer-events: none;")
                                                div(style="aspect-ratio: 1.77778 / 1; position: relative; max-height: 100%; max-width: 100%; pointer-events: none; transform: scale(1.5, 2);")
                                                    canvas(width="110" height="75" style="position: absolute; width: 100%; height: 100%;")
                                                    canvas(width="110" height="75" style="position: absolute; width: 100%; height: 100%; opacity: 1;")
                                    div#player-container-outer.wtd-watch-flexy
                                        div#player-container-inner.wtd-watch-flexy
                                            div(role="complementary" style="touch-action: auto;")#player-container.wtd-watch-flexy
                                                div(context="WEB_PLAYER_CONTEXT_CONFIG_ID_KEVLAR_WATCH" style="touch-action: pan-down;")#wtd-player.wtd-player-html-tag.wtd-watch-flexy
                                                    div#container.wtd-player
                                                        div(
                                                            tabindex="-1" aria-label="WeTube 동영상 플레이어"
                                                        )#movie_player.html5-video-player.wtp-transparent.wtp-exp-bottom-control-flexbox.wtp-modern-caption.wtp-exp-ppp-update.wtp-cairo-refresh.wtp-livebadge-color-control.wtp-cairo-refresh-signature-moments.wtp-persistent-scrubber.wtp-hide-info-bar.wtp-fine-scrubbing-exp.wtp-autonav-endscreen-cancelled-state.wtp-fit-cover-video.wtp-heat-map-v2.wtp-heat-map.paused-mode
                                                            div(data-layer="0" draggable="true").html5-video-container
                                                                -const u=`/${foundVideoFromDB.fileUrl}`
                                                                video(
                                                                    tabindex="-1" controlslist="nodownload" src=u
                                                                    style="left: 0px; top: 0px;"
                                                                ).video-stream.html5-main-video
                                                            div(data-layer="1").wtp-gradient-top
                                                            div(data-layer="1").wtp-chrome-top
                                                            button(data-layer="2" style="display: none;").wtp-unmute.wtp-popup.wtp-button.wtp-unmute-animated.wtp-unmute-shrink
                                                            div(data-layer="4" style="display: none;").wtp-gated-actions-overlay
                                                            div(data-layer="4" style="display: none;").wtp-overlay.wtp-speedmaster-overlay
                                                            div(data-layer="4").wtp-suggested-action
                                                            div(data-layer="4" style="display: none;").wtp-cued-thumbnail-overlay
                                                            div(aria-live="assertive" aria-atomic="true" data-layer="4").wtp-paid-content-overlay
                                                            div(data-layer="4" style="display: none;").wtp-storyboard-framepreview
                                                            div(data-layer="4" style="display: none;").wtp-bezel-text-hide
                                                            div(data-layer="4" style="display: none;").wtp-doubletap-ui-legacy
                                                            div(data-layer="4" aria-live="polite" aria-hidden="true" style="max-width: 300px; top: 115px; left: 256.4px; display: none;").wtp-tooltip.wtp-bottom.wtp-rounded-tooltip.wtp-preview
                                                            div(data-layer="4" style="display: none;").wtp-ad-persistent-progress-bar-container
                                                            div(data-layer="4").wtp-suggested-action
                                                            div(data-layer="4").wtp-suggested-action
                                                            div(data-layer="4").wtp-suggested-action
                                                            div(data-layer="4" style="display: none;").wtp-player-content.wtp-iv-player-content
                                                            div(data-layer="4" style="display: none;").wtp-miniplayer-ui
                                                            div(data-layer="4" style="display: none;").wtp-autonav-endscreen-countdown-overlay
                                                            div(data-layer="4" style="display: none;").html5-endscreen.wtp-player-content.videowall-endscreen
                                                            div(data-layer="4")#wtp-caption-window-container.wtp-caption-window-container
                                                            div(data-layer="4" style="display: none;").wtp-remote
                                                            div(data-layer="4" style="display: none;").wtp-mdx-popup-dialog
                                                            div(role="dialog" data-layer="5" style="display: none;")#wtp-id-23.wtp-playlist-menu
                                                            div(role="dialog" aria-labelledby="wtp-id-25" data-layer="5" style="display: none;")#wtp-id-26.wtp-share-panel
                                                            div(role="dialog" data-layer="5" style="display: none;")#wtp-id-30.wtp-overflow-panel
                                                            div(role="dialog" data-layer="6" style="display: none;")#wtp-id-19.wtp-popup.wtp-settings-menu
                                                            div(
                                                                data-layer="9" style="height: 146px; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAACSCAYAAACE56BkAAAAAXNSR0IArs4c6QAAAPVJREFUKFNlyOlHGAAcxvHuY93H1n1fW1v3fbej+zAmI5PIRGYiM5JEkkgiiSSRJPoj83nze9Pz4uPrSUh4tURPEpKDFJWKtCBdZSAzeKOykB3kqFzkBfmqAIVBkSrGW7wLSlQpyoJyVYHKoEpVoyaoVXWoDxpUI5qCZtWC98EH1YqPwSfVhvagQ3WiK+hWPegN+lQ/BoJBNYThYESNYgzjwYSaDD6rL/iKb8GUmsZMMKvmMB8sqEUsYRnf8QMr+IlV/MIa1rGB39jEFv7gL7axg3/4j13sYR8HOMQRjnGCU5zhHBe4xBWucYNb3OEeD3jEE55fAOT7I9a9dVH7AAAAAElFTkSuQmCC');"
                                                            ).wtp-gradient-bottom
                                                            div(data-layer="9" style="width: 616px; left: 12px;").wtp-chrome-bottom
                                                                div.wtp-progress-bar-container
                                                                    div(style="height: 40px;").wtp-heat-map-container
                                                                        div.wtp-heat-map-edu
                                                                        div(style="width: 616px; left: 0px;").wtp-heat-map-chapter
                                                                    div(
                                                                        tabindex="0" role="slider" aria-label="탐색 슬라이더"
                                                                        aria-valuemin="0" aria-valuemax aria-valuenow="0"
                                                                        aria-valuetext draggable="true" style="touch-action: none;"
                                                                    ).wtp-progress-bar
                                                                        div.wtp-chapters-container
                                                                            div(style).wtp-chapter-hover-container.wtp-exp-chapter-hover-effect
                                                                                div.wtp-progress-bar-padding
                                                                                div.wtp-progress-list
                                                                                    div(
                                                                                        style="left: 0px; transform: scaleX(0); background-size: 616px; background-position-x: 0px;"
                                                                                    ).wtp-play-progress.wtp-swatch-background-color
                                                                                    div.wtp-progress-linear-live-buffer
                                                                                    div(style="left: 0px; transform: scaleX(0)").wtp-load-progress
                                                                                    div(style).wtp-hover-progress.wtp-hover-progress-light
                                                                                    div.wtp-ad-progress-list
                                                                        div.wtp-timed-markers-container
                                                                        div(style="width: 0%;").wtp-clip-start-exclude
                                                                        div(style="left: 100%; width: 0%;").wtp-clip-end-exclude
                                                                        div(style="transform: translateX(0px)").wtp-scrubber-container
                                                                            div.wtp-scrubber-button.wtp-swatch-background-color
                                                                                div.wtp-scrubber-pull-indicator
                                                                                img.wtp-decorated-scrubber-button
                                                                    div.wtp-fine-scrubbing-container
                                                                        div.wtp-fine-scrubbing-edu
                                                                        div.wtp-fine-scrubbing
                                                                    div.wtp-bound-time-left
                                                                    div.wtp-bound-time-right
                                                                div.wtp-chrome-controls
                                                                    div.wtp-left-controls
                                                                        a(
                                                                            role="button" aria-disabled="true" style="display: none;"
                                                                        ).wtp-prev-button.wtp-button 
                                                                        button(
                                                                            aria-keyshortcuts="k" data-title-no-tooltip="재생"
                                                                            aria-label="재생 단축키 k" title="재생(k)"
                                                                        ).wtp-play-button.wtp-button
                                                                            svg(height="100%" version="1.1" viewBox="0 0 36 36" width="100%")
                                                                                use(href="#wtp-id-65").wtp-svg-shadow
                                                                                path(d="M 12,26 18.5,22 18.5,14 12,10 z M 18.5,22 25,18 25,18 18.5,14 z")#wtp-id-65.wtp-svg-fill
                                                                        a(
                                                                            role="button" data-title-no-tooltip="다음"
                                                                            aria-keyshortcuts="SHIFT+n" aria-disabled="false"
                                                                            aria-label="다음 단축키 SHIFT+n" data-duration data-preview
                                                                            data-tooltip-text href title="다음(SHIFT+n)"
                                                                        ).wtp-next-button.wtp-button 
                                                                            svg(height="100%" version="1.1" viewBox="0 0 36 36" width="100%")
                                                                                use(href="#wtp-id-13").wtp-svg-shadow
                                                                                path(d="M 12,24 20.5,18 12,12 V 24 z M 22,12 v 12 h 2 V 12 h -2 z")#wtp-id-13.wtp-svg-fill
                                                                        span.wtp-volume-area
                                                                            button(
                                                                                aria-keyshortcuts="m" data-title-no-tooltip="음소거"
                                                                                aria-label="음소거 단축키 m" title="음소거(m)"
                                                                            ).wtp-mute-button.wtp-button
                                                                                svg(height="100%" version="1.1" viewBox="0 0 36 36" width="100%")
                                                                                    use(href="#wtp-id-15").wtp-svg-shadow
                                                                                    use(href="#wtp-id-16").wtp-svg-shadow
                                                                                    defs
                                                                                        clipPath#wtp-svg-volumn-animation-mask
                                                                                            path(d="m 14.35,-0.14 -5.86,5.86 20.73,20.78 5.86,-5.91 z")
                                                                                            path(d="M 7.07,6.87 -1.11,15.33 19.61,36.11 27.80,27.60 z")
                                                                                            path(
                                                                                                d="M 9.09,5.20 6.47,7.88 26.82,28.77 29.66,25.99 z"
                                                                                                transform="translate(0, 0)"
                                                                                            ).wtp-svg-volume-animation-mover
                                                                                        clipPath#wtp-svg-volumn-animation-slash-mask
                                                                                            path(
                                                                                                d="m -11.45,-15.55 -4.44,4.51 20.45,20.94 4.55,-4.66 z"
                                                                                                transform="translate(0, 0)"
                                                                                            ).wtp-svg-volume-animation-mover
                                                                                    path(
                                                                                        clip-path="url(#wtp-svg-volume-animation-mask)"
                                                                                        d="M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.77 C23.01,25.86 26,22.28 26,18 C26,13.72 23.01,10.14 19,9.23 L19,11.29 Z"
                                                                                        fill="#fff"
                                                                                    )#wtp-id-15.wtp-svg-fill.wtp-svg-volume-animation-speaker
                                                                                    path(
                                                                                        clip-path="url(#wtp-svg-volume-animation-slash-mask)"
                                                                                        d="M 9.25,9 7.98,10.27 24.71,27 l 1.27,-1.27 Z"
                                                                                        fill="#fff" style="display: none;"
                                                                                    )#wtp-id-16.wtp-svg-fill.wtp-svg-volume-animation-hider
                                                                            div(
                                                                                role="slider" aria-valuemin="0" aria-valuemax="100"
                                                                                tabindex="0" aria-valuenow aria-valuetext aria-label="볼륨" title="볼륨"
                                                                            ).wtp-volume-panel
                                                                                div(draggable="true" style="touch-action: none").wtp-volume-slider
                                                                                    div(style).wtp-volume-slider-handle
                                                                        div.wtp-time-display.notranslate
                                                                            span.wtp-time-wrapper
                                                                                span.wtp-time-clip-icon
                                                                                span.wtp-time-current
                                                                                    -const t = (foundVideoFromDB.meta.videoLength).split("").length, f = t === 5 ? "00:00" : t === 7 ? "0:00:00" : t === 8 ? "00:00:00" : "0:00";
                                                                                    |#{f}
                                                                                span.wtp-time-separator
                                                                                    |  / 
                                                                                span.wtp-time-duration
                                                                                    |#{foundVideoFromDB.meta.videoLength}
                                                                            span.wtp-clip-watch-full-video-button-separator
                                                                                |•
                                                                            span.wtp-clip-watch-full-video-button
                                                                                |전체 동영상 보기
                                                                            button.wtp-live-badge.wtp-button
                                                                                |라이브
                                                                        div(style="display: none;").wtp-chapter-container
                                                                    div.wtp-right-controls
                                                                        button(
                                                                            data-priority="1" style="display: none;"
                                                                            title="스크롤해서 자세히 알아보기"
                                                                            aria-label="스크롤해서 자세히 알아보기"
                                                                        ).wtp-button
                                                                        button(
                                                                            data-priority="2" data-tooltip-target-id="wtp-autonav-toggle-button"
                                                                            style aria-label="자동재생 사용 설정" title="자동재생 사용 설정"
                                                                        ).wtp-button
                                                                            div.wtp-autonav-toggle-button-container
                                                                                div(aria-checked="true").wtp-autonav-toggle-button
                                                                        button(
                                                                            aria-keyshortcuts="c" data-priority="3" data-title-no-tooltip="자막"
                                                                            aria-pressed="false" aria-label="자막 단축키 c" title="자막(c)"
                                                                        ).wtp-subtitle-button.wtp-button
                                                                            svg(
                                                                                height="100%" version="1.1" viewBox="0 0 36 36"
                                                                                width="100%" fill-opacity="1"
                                                                            ).wtp-subtitle-button-icon
                                                                                use(href="#wtp-id-17").wtp-svg-shadow
                                                                                path(
                                                                                    d="M11,11 C9.9,11 9,11.9 9,13 L9,23 C9,24.1 9.9,25 11,25 L25,25 C26.1,25 27,24.1 27,23 L27,13 C27,11.9 26.1,11 25,11 L11,11 Z M11,17 L14,17 L14,19 L11,19 L11,17 L11,17 Z M20,23 L11,23 L11,21 L20,21 L20,23 L20,23 Z M25,23 L22,23 L22,21 L25,21 L25,23 L25,23 Z M25,19 L16,19 L16,17 L25,17 L25,19 L25,19 Z"
                                                                                    fill="#fff"
                                                                                    id="wtp-id-17"
                                                                                )
                                                                        button(
                                                                            aria-expanded="false" aria-haspopup="true" aria-controls="wtp-id-18"
                                                                            data-tooltip-target-id="wtp-settings=button" aria-label="설정" title="설정"
                                                                        ).wtp-settings-button.wtp-button
                                                                            svg(
                                                                                height="100%" version="1.1" viewBox="0 0 36 36" width="100%"
                                                                            )
                                                                                use(href="#wtp-id-19").wtp-svg-shadow
                                                                                path(
                                                                                    d="m 23.94,18.78 c .03,-0.25 .05,-0.51 .05,-0.78 0,-0.27 -0.02,-0.52 -0.05,-0.78 l 1.68,-1.32 c .15,-0.12 .19,-0.33 .09,-0.51 l -1.6,-2.76 c -0.09,-0.17 -0.31,-0.24 -0.48,-0.17 l -1.99,.8 c -0.41,-0.32 -0.86,-0.58 -1.35,-0.78 l -0.30,-2.12 c -0.02,-0.19 -0.19,-0.33 -0.39,-0.33 l -3.2,0 c -0.2,0 -0.36,.14 -0.39,.33 l -0.30,2.12 c -0.48,.2 -0.93,.47 -1.35,.78 l -1.99,-0.8 c -0.18,-0.07 -0.39,0 -0.48,.17 l -1.6,2.76 c -0.10,.17 -0.05,.39 .09,.51 l 1.68,1.32 c -0.03,.25 -0.05,.52 -0.05,.78 0,.26 .02,.52 .05,.78 l -1.68,1.32 c -0.15,.12 -0.19,.33 -0.09,.51 l 1.6,2.76 c .09,.17 .31,.24 .48,.17 l 1.99,-0.8 c .41,.32 .86,.58 1.35,.78 l .30,2.12 c .02,.19 .19,.33 .39,.33 l 3.2,0 c .2,0 .36,-0.14 .39,-0.33 l .30,-2.12 c .48,-0.2 .93,-0.47 1.35,-0.78 l 1.99,.8 c .18,.07 .39,0 .48,-0.17 l 1.6,-2.76 c .09,-0.17 .05,-0.39 -0.09,-0.51 l -1.68,-1.32 0,0 z m -5.94,2.01 c -1.54,0 -2.8,-1.25 -2.8,-2.8 0,-1.54 1.25,-2.8 2.8,-2.8 1.54,0 2.8,1.25 2.8,2.8 0,1.54 -1.25,2.8 -2.8,2.8 l 0,0 z"
                                                                                    fill="#fff"
                                                                                    id="wtp-id-19"
                                                                                )
                                                                        button(
                                                                            aria-keyshortcuts="i" data-priority="5" data-tooltip-target-id="wtp-miniplayer-button"
                                                                            data-title-no-tooltip="소형 플레이어" aria-label="소형 플레이어 단축키 i" title="단축키(i)"
                                                                        ).wtp-miniplayer-button.wtp-button
                                                                            svg(
                                                                                height="100%" version="1.1" viewBox="0 0 36 36" width="100%"
                                                                            )
                                                                                use(href="#wtp-id-20").wtp-svg-shadow
                                                                                path(
                                                                                    d="M25,17 L17,17 L17,23 L25,23 L25,17 L25,17 Z M29,25 L29,10.98 C29,9.88 28.1,9 27,9 L9,9 C7.9,9 7,9.88 7,10.98 L7,25 C7,26.1 7.9,27 9,27 L27,27 C28.1,27 29,26.1 29,25 L29,25 Z M27,25.02 L9,25.02 L9,10.97 L27,10.97 L27,25.02 L27,25.02 Z"
                                                                                    fill="#fff"
                                                                                    id="wtp-id-19"
                                                                                )
                                                                        button(
                                                                            data-priority="6" data-tooltip-target-id="wtp-pip-button"
                                                                            data-title-no-tooltip="PIP 모드" title="PIP 모드" style="display: none;"
                                                                        ).wtp-pip-button.wtp-button
                                                                            svg(
                                                                                height="100%" version="1.1" viewBox="0 0 36 36" width="100%"
                                                                            )
                                                                                use(href="#wtp-id-31").wtp-svg-shadow
                                                                                path(
                                                                                    d="M25,17 L17,17 L17,23 L25,23 L25,17 L25,17 Z M29,25 L29,10.98 C29,9.88 28.1,9 27,9 L9,9 C7.9,9 7,9.88 7,10.98 L7,25 C7,26.1 7.9,27 9,27 L27,27 C28.1,27 29,26.1 29,25 L29,25 Z M27,25.02 L9,25.02 L9,10.97 L27,10.97 L27,25.02 L27,25.02 Z"
                                                                                    fill="#fff"
                                                                                    id="wtp-id-31"
                                                                                )
                                                                        button(
                                                                            aria-keyshortcut="t" data-priority="7" data-title-no-tooltip="영화관 모드"
                                                                            aria-label="영화관 모드 단축키 t" title="영화관 모드(t)"
                                                                        ).wtp-size-button.wtp-button
                                                                            svg(
                                                                                height="100%" version="1.1" viewBox="0 0 36 36" width="100%"
                                                                            )
                                                                                use(href="#wtp-id-30").wtp-svg-shadow
                                                                                path(
                                                                                    d="m 28,11 0,14 -20,0 0,-14 z m -18,2 16,0 0,10 -16,0 0,-10 z"
                                                                                    fill="#fff" fill-rule="evenodd"
                                                                                    id="wtp-id-30"
                                                                                )
                                                                        button(
                                                                            title="TV에서 재생" aria-haspopup="true" data-priority="8"
                                                                            aria-label="TV에서 재생" style="display: none;"
                                                                        ).wtp-remote-button.wtp-button
                                                                            svg(
                                                                                height="100%" version="1.1" viewBox="0 0 36 36" width="100%"
                                                                            )
                                                                                use(href="#wtp-id-21").wtp-svg-shadow
                                                                                path(
                                                                                    d="M27,9 L9,9 C7.9,9 7,9.9 7,11 L7,14 L9,14 L9,11 L27,11 L27,25 L20,25 L20,27 L27,27 C28.1,27 29,26.1 29,25 L29,11 C29,9.9 28.1,9 27,9 L27,9 Z M7,24 L7,27 L10,27 C10,25.34 8.66,24 7,24 L7,24 Z M7,20 L7,22 C9.76,22 12,24.24 12,27 L14,27 C14,23.13 10.87,20 7,20 L7,20 Z M7,16 L7,18 C11.97,18 16,22.03 16,27 L18,27 C18,20.92 13.07,16 7,16 L7,16 Z"
                                                                                    fill="#fff"
                                                                                    id="wtp-id-21"
                                                                                )
                                                                        button(
                                                                            aria-keyshortcut="f" data-priority="10" data-title-no-tooltip="전체 화면"
                                                                            aria-label="전체 화면 단축키 f" title="전체 화면(f)"
                                                                        ).wtp-fullscreen-button.wtp-button
                                                                            svg(
                                                                                height="100%" version="1.1" viewBox="0 0 36 36" width="100%"
                                                                            )
                                                                                g.wtp-fullscreen-button-corner-0
                                                                                    use(href="#wtp-id-7").wtp-svg-shadow
                                                                                    path(d="m 10,16 2,0 0,-4 4,0 0,-2 L 10,10 l 0,6 0,0 z")#wtp-id-7.wtp-svg-fill
                                                                                g.wtp-fullscreen-button-corner-1
                                                                                    use(href="#wtp-id-8").wtp-svg-shadow
                                                                                    path(d="m 20,10 0,2 4,0 0,4 2,0 L 26,10 l -6,0 0,0 z")#wtp-id-8.wtp-svg-fill
                                                                                g.wtp-fullscreen-button-corner-2
                                                                                    use(href="#wtp-id-9").wtp-svg-shadow
                                                                                    path(d="m 24,24 -4,0 0,2 L 26,26 l 0,-6 -2,0 0,4 0,0 z")#wtp-id-9.wtp-svg-fill
                                                                                g.wtp-fullscreen-button-corner-3
                                                                                    use(href="#wtp-id-10").wtp-svg-shadow
                                                                                    path(d="M 12,20 10,20 10,26 l 6,0 0,-2 -4,0 0,-4 0,0 z")#wtp-id-10.wtp-svg-fill
                                    div.wt-playability-error-supported-renderers-html-tag
                                div#below.wtd-watch-flexy
                                    div#alerts.wtd-watch-flexy
                                    div#messages.wtd-watch-flexy
                                    div#clarify-box.attached-message.wtd-watch-flexy
                                    div#limited-state.attached-message.wtd-watch-flexy
                                    div(
                                        is-watch-flexy video-id=foundVideoFromDB._id
                                        description-collapsed title-headline-xs flex-menu-enabled
                                    ).wtd-watch-metadata-html-tag.watch-active-metadata.wtd-watch-flexy
                                        div#above-the-fold.wtd-watch-flexy
                                            div#title.wtd-watch-metadata
                                                h1.wtd-watch-metadata
                                                    div(force-default-style).wt-formatted-string-html-tag.wtd-watch-metadata
                                                        |#{foundVideoFromDB.title}
                                            div#top-row.wtd-watch-metadata
                                                div#owner.item.wtd-watch-metadata
                                                    div(watch-metadata-refresh).wtd-video-owner-renderer-html-tag.wtd-watch-metadata
                                                        -const l=`/${foundVideoFromDB.video_owner.user_channel.channel_handle}`;
                                                        a(href=l).wt-simple-endpoint.wtd-video-owner-renderer
                                                            div(
                                                                width="40" style="background-color: transparent;" loaded
                                                            )#avatar.wt-img-shadow-html-tag.wtd-video-owner-renderer.no-transition
                                                                img(draggable="false" alt width="40" src=foundVideoFromDB.video_owner.avatar)#img.wt-img-shadow
                                                        div#upload-info.wtd-video-owner-renderer
                                                            div#channel-name.wtd-channel-name-html-tag.wtd-video-owner-renderer
                                                            -const formatNumberWithUnit=n=>n<1000?n.toString():((u,s,i,q,r)=>r===0?`${q}${s[i]}`:`${q}.${r.toString().padStart(2,'0')}${s[i]}`)([1e8,1e4,1e3],["억","만","천"],(i=[1e8,1e4,1e3].findIndex(v=>n>=v)),Math.floor(n/[1e8,1e4,1e3][i]),Math.floor((n%[1e8,1e4,1e3][i])/([1e8,1e4,1e3][i]/100))), sub=formatNumberWithUnit(foundVideoFromDB.video_owner.channel_subscriber);
                                                            div(aria-label)#owner-sub-count.wt-formatted-string-html-tag.wtd-video-owner-renderer
                                                                |#{}
                                                        div#purchase-buton.wtd-video-owner-renderer
                                                        div#sponsor-button.wtd-video-owner-renderer
                                                        div#analytics-button.wtd-video-owner-renderer
                                                    div#subscribe-button.wtd-watch-metadata
                                                div#actions.item.wtd-watch-metadata
                                            div#middle-row.wtd-watch-metadata
                                            div#bottom-row.wtd-watch-metadata
                                        div.wtd-metadata-row-container-renderer-html-tag
                                    div.wtd-watch-flexy
                                    div#expanded-metadata.wtd-watch-flexy
                                    div#ticket-shelf.wtd-watch-flexy
                                    dom-if(restamp)#merch-shelf.wtd-watch-flexy
                                    div#comments.wtd-comments-html-tag.wtd-watch-flexy
                        div#secondary.wtd-watch-flexy
                    div#survey.wtd-watch-flexy
                    div(hidden)#engagement-panel-scrim.wtd-watch-flexy